body {
    margin: 0;
}

.header {

    text-align: center;
    height: 50px;
    padding: 20px;

}

.logo{
    position:absolute;
    margin-top:-5px;
    margin-left:15px;
    float:left;

}

.hheader {

    height: 40px;
    overflow: hidden;
}

.hheader a {
    float: left;


    text-align: center;
    padding: 14px 16px;

}

.hheader a:hover {

    color: black;
}

.row {
    height: 400px;
}

.colom.left {

    height: 100%;
    width: 60%;
    float: left;
    text-align: left;
}

.colom.right {

    height: 100%;
    width: 40%;
    text-align: left;
    float: left;
}

.footer {

    height: 56px;
    overflow: hidden;

}